body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(#ddd4ca, 10%, rgb(255, 255, 255));;
  }
  
  nav {
    display: flex;
    justify-content: center;
    background: white;
  }
  
  nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    margin: 0;
  }
  
  nav ul li a {
    color: #000;
    text-decoration: none;
    padding: 15px 20px; /* Adjust the padding to your preference */
    display: block;
  }
  
  nav ul li a:hover {
    background-color: #ccc;
  }
  
  /* Styles for dropdown menu */
  nav ul li:hover .dropdown {
    display: block;
  }
  
  nav ul .dropdown {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    padding: 10px;
  }
  
  nav ul .dropdown li {
    display: block;
    margin: 5px 0;
  }
  
  nav ul .dropdown li a {
    color: #333;
    text-decoration: none;
  }
  
  nav ul .dropdown li a:hover {
    color: #00f;
  }

header {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    height: 50px;
    min-width: 100%;
    margin-right: 55vh;
    color:rgb(145, 0, 0);
    background-color: transparent;
    font-size: 19px;
  }

.centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Center vertically in the viewport */
    background: transparent;
}

/* Center the image */
#salt-bag {
    width: 450px; /* Set the fixed width of the image */
    height: auto; /* Maintain the image's aspect ratio */
    max-width: 100%; /* Ensure the image doesn't exceed its container's width */
    max-height: 100%; /* Ensure the image doesn't exceed its container's height */
}
