html {
    height: 100%;
    margin: 0%;
}

body {
    background: rgb(212, 200, 180);
    min-height: 100vh;
    max-width: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.name {
    color: rgb(145, 0, 0);
    font-size: 18px;
    text-decoration: none;
    text-transform: none;
    font-family: Georgia, Tahoma, Verdana;
}
.content a {
    color: rgb(145, 0, 0);
    font-size: 15px;
    text-decoration: none;
    text-transform: lowercase;
    font-family: Georgia, Tahoma, Verdana;
}

.content a:hover {
    color: rgb(86, 197, 238);
    font-size: 15px;
    text-transform: lowercase
}