html {
    height: 100%;
    margin: 0%;
}

body {
    background: rgb(212, 200, 180);
    min-height: 100vh;
    max-width: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.name {
    color: rgb(145, 0, 0);
    font-size: 18px;
    text-decoration: none;
    font-family: Georgia, Tahoma, Verdana;
    margin-left: 0%;
    margin-right: 0%; 
    text-align: left; 
}

.content a {
    color: rgb(145, 0, 0);
    font-size: 15px;
    text-align: justify;
    text-decoration: none;
    text-transform: lowercase;
    font-family: Georgia, Tahoma, Verdana;
    margin-top: 0%; 
    margin-right: 0%;
}

.content a:hover {
    color: rgb(159, 217, 238);
    font-size: 15px;
    text-transform: lowercase;
    margin-top:0;
    margin-right:0;
}