* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: lightblue;
    cursor: url('generic-cursor_4.png'), auto;
}

canvas { 
    display: block;
}

model-viewer::part(interaction-prompt) {
    display: none;
}

.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5%;
    position: absolute;
    top: 4vh;
    left: 0;
    right: 0;
}

.name {
    color: rgb(255, 255, 110);
    font-size: 18px;
    font-family: Georgia, Tahoma, Verdana;
}

.horizontal-list {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.horizontal-list li {
    margin-right: 10px;
}

.horizontal-list li a, 
.horizontal-list li button {
    font-size: 18px;
    color: grey;
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
}

.horizontal-list li a:hover,
.horizontal-list li button:hover {
    color: rgb(143, 132, 227);
}

.header a {
    color: rgb(255, 255, 110);
    font-size: 18px;
}

.header a:hover {
    color: rgb(143, 132, 227);
    text-decoration: none;
}

#lightDark {
    color: rgb(255, 255, 110);
    font-size: 18px;
    border: none;
    background: none;
}

#lightDark:hover {
    color: whitesmoke;
}

input[type="button"] {
    margin: 6px;
}

/* All other input button styles go here... */

@media screen and (max-width: 768px) {
    .name, .header a, .horizontal-list li a, .horizontal-list li button {
        font-size: 16px;
    }
    .top-bar {
        top: 3vh;
    }
}

@media screen and (max-width: 480px) {
    .name, .header a, .horizontal-list li a, .horizontal-list li button {
        font-size: 12px;
    }
    .top-bar {
        top: 2vh;
    }
}

@media screen and (min-height: 800px) and (max-height: 1200px) {
    .name, .header a, .horizontal-list li a, .horizontal-list li button {
        font-size: 14px;
    }
    .top-bar {
        top: 3.5vh;
    }
}

@media screen and (min-height: 1000px) and (max-height: 3000px) {
    .name, .header a, .horizontal-list li a, .horizontal-list li button {
        font-size: 16px;
    }
    .top-bar {
        top: 4vh;
    }
}

@media (hover: hover) and (pointer: fine) {
    a, button {
        cursor: url('generic-cursor_3.png'), auto;
    }
}

@media screen and (min-width: 1024px) {
    a, button {
        cursor: url('generic-cursor_3.png'), auto;
    }
}

/* Adjust the following as needed based on the specifics of your site */
#kofi, #input-button, #clipboardASCII, #copyASCII, #newASCII, #updateASCII, #resetASCII, #screenshotButton {
    /* Styles for these elements */
}