* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: lightblue;
    cursor: url('generic-cursor_4.png'), auto;
}

canvas { 
    display: block;
}

model-viewer::part(interaction-prompt) {
    display: none;
}

.top-bar {
    display: flex;
    justify-content: space-between; /* This will place children at the start and end of the container */
    align-items: center; /* Align children vertically */
    position: absolute;
    top: 2vh; /* Adjust top position for all elements within .top-bar */
    left: 1.5%; /* Left margin */
    right: 1.5%; /* Right margin */
    padding: 0; /* No padding needed here */
}

.name {
    color: rgb(255, 255, 110);
    font-size: 18px;
    font-family: Georgia, Tahoma, Verdana;
}

#lightDark {
    /* Button on the left side */
    order: -1; /* Force it to the beginning of the flex container */
    font-size: 18px;
    font-family: Georgia, Tahoma, Verdana;
    color: rgb(255, 255, 110);
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

#lightDark:hover {
    color: whitesmoke;
}

.horizontal-list {
    /* List on the right side */
    order: 1; /* Ensures it's placed after #lightDark in the flex container */
    list-style-type: none;
    font-family: Georgia, Tahoma, Verdana;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

#rotateButton {
    /* Button to the right of the list */
    order: 2; /* Ensures it's placed after .horizontal-list in the flex container */
    margin-left: 10px; /* Space between the list and the button */
    font-size: 14px;
    color: grey;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.horizontal-list li {
    margin-right: 10px;
}

.horizontal-list li a, 
.horizontal-list li button {
    font-size: 14px;
    color: grey;
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
}

.horizontal-list li a:hover,
.horizontal-list li button:hover {
    color: rgb(143, 132, 227);
}

.header a {
    color: rgb(255, 255, 110);
    font-size: 18px;
}

.header a:hover {
    color: rgb(143, 132, 227);
    text-decoration: none;
}

input[type="button"] {
    margin: 6px;
}

@media screen and (max-width: 768px) {
    .name, .header a, .horizontal-list li a, .horizontal-list li button, #rotateButton {
        font-size: 12px;
    }

    #lightDark {
        font-size: 16px;
    }

    .top-bar {
        top: 2vh;
    }
}

@media screen and (max-width: 480px) {
    .name, .header a, .horizontal-list li a, .horizontal-list li button, #rotateButton {
        font-size: 12px;
    }

    #lightDark {
        font-size: 16px;
    }

    .top-bar {
        top: 2vh;
    }
}

@media screen and (min-height: 800px) and (max-height: 1200px) {
    .name, .header a, .horizontal-list li a, .horizontal-list li button, #rotateButton {
        font-size: 14px;
    }

    #lightDark {
        font-size: 18px;
    }

    .top-bar {
        top: 2vh;
    }
}

@media screen and (min-height: 1000px) and (max-height: 3000px) {
    .name, .header a, .horizontal-list li a, .horizontal-list li button, #rotateButton {
        font-size: 14px;
    }

    #lightDark {
        font-size: 18px;
    }

    .top-bar {
        top: 2vh;
    }
}

@media (hover: hover) and (pointer: fine) {
    a, button {
        cursor: url('generic-cursor_3.png'), auto;
    }
}

@media screen and (min-width: 1024px) {
    a, button {
        cursor: url('generic-cursor_3.png'), auto;
    }
}

/* Adjust the following as needed based on the specifics of your site */
#input-button {
    pointer-events: none; /* The button won't respond to mouse clicks */
    border: none; 
    background: none;
    position: fixed; /* Fixed position relative to the viewport */
    bottom: 0;
    opacity: 0;
}

#clipboardASCII {
    pointer-events: none; /* The button won't respond to mouse clicks */
    border: none; 
    background: none;
    position: fixed; /* Fixed position relative to the viewport */
    bottom: 0;
    opacity: 0;
}

#copyASCII {
    pointer-events: none; /* The button won't respond to mouse clicks */
    border: none; 
    background: none;
    position: fixed; /* Fixed position relative to the viewport */
    bottom: 0;
    opacity: 0;
}

#newASCII {
    pointer-events: none; /* The button won't respond to mouse clicks */
    border: none; 
    background: none;
    position: fixed; /* Fixed position relative to the viewport */
    bottom: 0;
    opacity: 0;
}

#updateASCII {
    pointer-events: none; /* The button won't respond to mouse clicks */
    border: none; 
    background: none;
    position: fixed; /* Fixed position relative to the viewport */
    bottom: 0;
    opacity: 0;
}

#resetASCII {
    pointer-events: none; /* The button won't respond to mouse clicks */
    border: none; 
    background: none;
    position: fixed; /* Fixed position relative to the viewport */
    bottom: 0;
    opacity: 0;
}

#screenshotButton {
    pointer-events: none; /* The button won't respond to mouse clicks */
    border: none; 
    background: none;
    position: fixed; /* Fixed position relative to the viewport */
    bottom: 0;
    opacity: 0;
}